body {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  height: auto;
}

.app-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  min-height: 700px;
  justify-content: space-between;
}
